.emojiBox{
    display: flex;
    justify-content: flex-end;
    }
    .topnav {
        overflow: hidden;
        background-color: white;
        position: fixed;
        display: flex;
      }
      .topnav input {
      float: left;}
      .nav > form {display:inline-block}

  article:hover{
   
    background-color: red !important;
  
  }    